Encourage to use weekly github digest to keep track of status update of Experimental work

WG github has separate mechanism to keep track of open issues or issue tickets, which is transparent to WG mailing list.
Suggest to Add responsible WG github repo to track the status of experimental work
https://github.com/ietf-github-services/activity-summary/blob/main/mls.json
as a rule

Good suggestion. But I want to let each WG decide if they want to adopt this or not.

See RFC 8874, Section 4.3 for guidance on this.

See PR #42 